<div class="weather_report_wrapper">
	<div class="weather_heading">Weather Report</div>
	 
	<div class="weather_report_data"><strong>City:</strong> {{ weather_data.city }}</div>
	<div class="weather_report_data"><strong>Min. Temp:</strong> {{ weather_data.temp_min }}</div>
	<div class="weather_report_data"><strong>Max Temp:</strong> {{ weather_data.temp_max }}</div>
	<div class="weather_report_data"><strong>Pressure:</strong> {{ weather_data.pressure }}</div>
	<div class="weather_report_data"><strong>Humidity:</strong> {{ weather_data.humidity }}</div>
	<div class="weather_report_data"><strong>Wind Speed:</strong> {{ weather_data.speed }}</div>
</div>